venv/
env/
**/env/
*.sqlite3
.idea/
**/__pycache__/
__pycache__/
**/.idea/
.env
enviroments/
chat/static/
storage/
.fleet/
dump.rdb
diagrams.png
project_manager/__pycache__/urls.cpython-36.pyc
.vs
.vs/
project_manager/media/
/project_manager/data/media/projects/
/project_manager/data/media/tasks/
