{% extends "projects/base.html" %}
{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    {% block custom-head %}

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Изменение задачи - {{ task.name }}</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r121/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.net.min.js"></script>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {%  endblock %}
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
    {% block header %}
      <li><a class="active" href="{% url "projects:get_tasks_page" %}"><b>Задачи</b></a></li>
      <li><a href="">Проекты</a></li>
      <li><a href="">Приглашения</a></li>
      <li><a href="">Профиль</a></li>
      <li><a href="{% url "projects:create_task_file" task.id %}">Добавить файл</a></li>
    {% endblock %}
    {% block content %}
        <div class="about_area">
            <div class="container">
                <div class="row align-items-center">
                    <div class="about_thumb">
                        <h3 class="tasks-title">{{ task.name }}</h3>
                        <form action="{% url "projects:update_task" task.id %}" method="post">
                            {% csrf_token %}
                            <table border="1" style="width: 100%;">
                                {{ form }}
                            </table>
                            <button name="submit" class="form-control">Сохранить</button>
                        </form>
                        <a href="{% url "projects:get_task_page" task.id %}"><button name="" class="form-control close-btn">Отмена</button></a>

                        {% for file in files %}
                          <a class="file-link" href="{{ file.get_absolute_url }}" target="_blank" tabindex="1">{{ file.get_filename }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}d

</body>
</html>